In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

trips_file = "Trips_by_Distance.csv"
trips_distance_df = pd.read_csv(trips_file)
trips_distance_df.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,1/1/2019,34,NJ,34001.0,Atlantic County,"65,412","199,206","843,588","237,921","212,263","92,618","136,909","100,079","35,613","21,178","5,311",626,"1,070"
1,County,1/1/2019,34,NJ,34003.0,Bergen County,"237,866","695,963","2,722,275","812,551","703,573","319,765","398,958","325,758","90,433","38,672","17,805","4,522","10,238"
2,County,1/1/2019,34,NJ,34005.0,Burlington County,"100,791","343,232","1,315,760","350,422","316,098","150,400","197,259","201,325","58,958","28,598","8,528","1,939","2,233"
3,County,1/1/2019,34,NJ,34007.0,Camden County,"130,209","375,319","1,488,595","441,080","373,336","176,319","215,886","188,972","53,797","26,883","9,266","1,157","1,899"
4,County,1/1/2019,34,NJ,34009.0,Cape May County,"24,167","68,110","273,062","75,839","64,783","33,539","45,259","30,687","13,195","6,297","2,334",326,803

In [3]:
len(trips_distance_df)

16412

AttributeError: 'DataFrame' object has no attribute 'unique'